body{
	font-family: 'Open Sans', sans-serif;
	font-size:1rem;
	
}
#hd1 {
	background:url("AI_Banner_2019.jpg") no-repeat center center/cover;
	padding:10px 0 150px 0;
	
	
}
#hd1 li img{
	border-radius:50px;
	max-width:50px;
	background-color:#fff2df;
	padding:2px;
}
#hd2 .mail{
	top:-38px;
	z-index:+999;
}
#hd2 .mail a{
	color:#fff

	}
#hd2 a:hover{
	text-decoration:none;
}
#hd2 .fa{color:#ff5821}
.bio:before{
	content: "Bio";
	background-color: #ff5821;
	position: absolute;
	color: #fff;
	padding: 12px;
	height: 100%;
	display: grid;
	place-items: center;
	font-weight: 2rem;
	margin-right:2rem;
	top: 0;
	left: 0;
}
.bio{
	background: #fff2df;
	
	
}

.flw p span{
	border-left:solid 3px #ff5821;
	border-right:solid 3px  #fff2df;
	border-top:solid 3px  #fff2df;
	border-bottom:solid 3px  #fff2df;
	background: #fff2df;
}

#prtxt{
	font-size:1rem;
	color:#000;
	
	
}

.prof img{
	border-radius:50%;
	max-width:150px;
	background-color:#fff2df;
	padding:3px;
}
.prof{
	
	overflow: hidden;
	top:-100px;
	
}
.bdr{
	background-color: #fff;
	border-radius:15px;
	font-size:1rem;
	
}
.bdr:hover{
	
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.mywork img{
	
	max-width:auto;
	height: auto;
}
.mywork:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#hd3 p{
	border:solid 15px #fff2df;
	border-radius:50px;
	background-color:#fff2df;
	color:#000;

	
}
#social a{
	border:solid 2px #fff;
	border-radius:50%;
	background-color:#fff;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	
}

#footer
{
	color:#fff;
	background-color:#ff5821;
	font-size:1rem;
	height:100px;
	
}
.fa{
	top:-505px;
	font-size:10px;
	

}

#social a{
	text-decoration:none;
	color: #ff5821;
}

#social a:hover{
	background-color:#fff2df;
}


@media (max-width:600px){

	#hd2 .mail{
		
		top:-136px;
		
			}

	.prof {
			top: -134px;
		}

}